<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>
<body>
    <!-- v-for  循环可以遍历数组和对象 -->
    <div id="app">
         <!-- <ul>
              <li v-for="(val,index) in arr">{{val}}-----{{index}}</li>
        </ul>
        <ul>
            <li v-for="(val,name,index) in obj">{{val}}---{{name}}----{{index}}</li>
        </ul> -->
    
        <ul>
            <li v-for="(val,index) in student">
                姓名:{{val.name}}年龄:{{val.age}}学校:{{val.school}}
            </li>
        </ul>
    </div>
    <script>
        new Vue ({
            el:"#app",
            data:{
                arr:[1,2,3,4],
                obj:{
                    name:"xiaomng",
                    age:18,
                    school:"heida"
                },
                student:[
                    {
                        name:"xx",
                        age:11212,
                        school:"heida"
                    },
                    {
                        name:"a",
                        age:1445612,
                        school:"heida"
                    },
                    {
                        name:"bb",
                        age:117682,
                        school:"heida"
                    },
                    {
                        name:"ss",
                        age:119872,
                        school:"heida"
                    },
                ]
            }
        })

    </script>
</body>
</html>