<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app"> 
        <!-- <h1 v-if="isShow" >{{ msg }}</h1> -->
        <!-- <div v-if="num ==0 ">q</div>
        <div v-else-if="num ==1 ">d</div>
        <div v-else="num ==1">c</div>
        <div v-show ="isShow">{{msg}}</div> -->
    </div>
    <script>
   let vm = new Vue({
        el:"#app",
        data:{
            msg:"hello world!",
            isShow:true,  //true 的时候显示  false的时候隐藏
            num :6,
        }
    })
    console.log(vm);
    
    //如果频繁设置显示隐藏 考虑性能v-if和v-show选择v-show
    //如果仅一次设置显示隐藏 考虑性能v-if和v-show选择v-if
    



    </script>
</body>
</html>