<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
    *{
        margin:0 auto;
        font-size: 30px;
    }
    td{
        width: 200px;
        text-align: center;
    }
    th{
        width: 50px;
    }
    </style>   
 <script src="./vue.js"></script>
</head>
<body>
<div class="table-responsive">  
    <input type="text" placeholder="搜索"><button>搜索</button>
    <br/>
    <input type="text" placeholder="名称" value="name"  v-model="str">
    <input type="text" placeholder="价格" value="price"   v-model="str2">
    <button @click="foo">添加</button>
    <br/>
    <br/>
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>选择</th>
                <th>商品名称</th>
                <th>商品价格</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="val in thing">
                <th scope="row"></th>
                <td><button type="checkbox" @click=foo2></button></td>
                <td>{{val.name}}</td>
                <td>{{val.price}}</td>
                <td><button>删除</button></td>
            </tr>
            </tbody>
        </table>
            <br/>
    <button>删除选中</button>
    价格：
</div>
    <script>
        var vm = new Vue({
            el:".table-responsive",
            data:{
                str:"",
                str2:"",
                thing:[
                {   
                    name:"衣服",
                    price:123,
                },
                {
                    name:"裤子",
                    price:456,
                },
                {
                    name:"鞋",
                    price:444,
                },
                {
                    name:"帽子",
                    price:666,
                },
                {
                    name:"手套",
                    price:88,
                },
            ]}, 
            methods:{
                foo(){
                    let newArr={
                        name:this.str,
                        price:this.str2,
                    }
                    this.thing.push(newArr);
                },
                foo2(){
                    
                }
            }
        })
    </script>
</body>
</html>